.calendar-container {
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.view-buttons {
  display: flex;
  gap: 8px; 
}

.view-buttons button {
  min-width: 100px;
  background-color: #f0f0f0; 
  color: #333; 
  font-family: 'Poppins', sans-serif;
}

.view-buttons button:hover {
  background-color: #e0e0e0; 
}

.current-month-title h3 {
  margin: 0;
  color: #555;
}

.calendar-view-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-titles-container {
  font-size: 12px;
  white-space: normal;
}

.event-title {
  padding: 2px 4px;
  margin-top: 2px;
  border-radius: 3px;
  color: white;
  white-space: normal;
}