<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="app-title">KindNet</div>
    
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/layout/">
        <mat-icon>home</mat-icon> Početna stranica
      </a>
      <a mat-list-item routerLink="/layout/events">
        <mat-icon>event</mat-icon> Događaji
      </a>
      <a mat-list-item routerLink="/layout/calendar">
        <mat-icon>calendar_month</mat-icon> Kalendar
      </a>
      <a mat-list-item routerLink="/layout/events-applications">
        <mat-icon>list_alt</mat-icon> Prijave
      </a>
      <a mat-list-item [routerLink]="getProfileLink()">
        <mat-icon>person</mat-icon> Profil
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content class="content">
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="flex: 1 1 auto;"></span> 
      <button (click)="toggleNotifications()" class="icon-button" [attr.data-count]="unreadNotifications">
        <mat-icon>notifications</mat-icon>
        <span *ngIf="unreadNotifications > 0" class="notification-badge"></span>
      </button>
      <div *ngIf="showNotifications" id="nott" class="notification-dropdown">
  <div class="dropdown-header">
    <span class="header-title">Obavještenja</span>
    <button class="mark-all-button" (click)="markAllAsRead()">
      Označi sve kao pročitano
    </button>
  </div>
  
  <div class="notifications-list">
    <ng-container *ngIf="notifications.length > 0; else noNotifications">
      <div class="notification-item" 
           *ngFor="let notification of notifications" 
           [ngClass]="{'unread-notification': !notification.isRead}"
           (click)="markAsRead(notification)">
        
        <div class="notification-content">
          <mat-icon class="status-icon" [ngClass]="{'read': notification.isRead, 'unread': !notification.isRead}">
            {{ notification.isRead ? 'check_circle' : 'circle' }}
          </mat-icon>
          <span class="notification-message">
            {{ notification.message }}
          </span>
        </div>
        
        <div class="notification-actions">
          <button class="action-button" matTooltip="Obriši" (click)="deleteNotification(notification.id)" disableRipple>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>

    <ng-template #noNotifications>
      <div class="no-notifications">
        Nemate novih notifikacija.
      </div>
    </ng-template>
  </div>
</div>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>