<h2 mat-dialog-title>Dodaj novi resurs</h2>

<mat-dialog-content>
  <form [formGroup]="resourceForm" class="resource-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Naziv resursa</mat-label>
      <input matInput formControlName="name" placeholder="Npr. Flašice vode, Stolice...">
      <mat-error *ngIf="resourceForm.get('name')?.hasError('required')">Naziv je obavezan.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Kategorija</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let cat of resourceCategories" [value]="cat.value">
          {{ cat.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="resourceForm.get('category')?.hasError('required')">Kategorija je obavezna.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Potrebna količina</mat-label>
      <input matInput type="number" formControlName="quantity" placeholder="10">
      <mat-error *ngIf="resourceForm.get('quantity')?.hasError('required')">Količina je obavezna.</mat-error>
      <mat-error *ngIf="resourceForm.get('quantity')?.hasError('min')">Količina mora biti bar 1.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Otkaži</button>
  <button mat-flat-button color="primary" class="save-button" [disabled]="!resourceForm.valid" (click)="onSave()">Sačuvaj resurs</button>
</mat-dialog-actions>
